﻿@model MVC_Reg_User.Models.UserClass
@{
    ViewBag.Title = "NewReg List";
}
<h2>Employee List</h2>
<input id="name" type="text" />
<input id="btnSearch" type="button" value="Tìm Kiếm Tên" />
<table id="employeeTable" class="display" @*style="width:1200px" border="1px"*@>

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Pass</th>
            <th>Gender</th>
            <th>img</th>
        </tr>
    </thead>
</table>
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script>
    //$(function () {
    //    $.get("get_data", {}, function (data) {
    //        var row;
    //        $.each(data, function (i, v1) {
    //            row += "<tr><td>" + v1.Uname + "</td><td>" + v1.Uemail + "</td><td>" + v1.Upwd + "</td><td>" + v1.Gender + "</td><td>" + v1.Uimg + "</td></tr>"
    //        });
    //        $("#employeeTable").append(row);

    //    })
    //})

        //$(document).ready(function myfunction() {
        //    $("#employeeTable").DataTable({
        //        "serverSide": true,
        //        "ajax": {
        //            "url": "/NewReg/get_data",
        //            "type": "POST",
        //            "datatype":"json"
        //        },
        //        "columns": [
        //            { "data": "Uname" },
        //            { "data": "Uemail" },
        //            { "data": "Upwd" },
        //            { "data": "Gender" },
        //            { "data": "Uimg" }
        //        ]


        //    });
        //});
      $("#employeeTable").DataTable({
            "serverSide": true,//gọi đến các hàm khác 
            "paging": false,//phân trang
            "order":false,
            searching: false,//tìm kiếm 
            "ajax": {
                "url": "/NewReg/get_data",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {

                    return $.extend({}, d, {
                        "name": $("#name").val(),

                    });
                }
            },
            "columns": [
                   { "data": "Uname", "name": "Uname" },
                    { "data": "Uemail", "name": "Uemail" },
                    { "data": "Upwd", "name": "Upwd" },
                    { "data": "Gender", "name": "Gender" },
                    { "data": "Uimg", "name": "Uimg" }
            ]
        });


    //    $(document).ready(function myfunction() {
    //        $("#employeeTable").DataTable({
    //            "ajax": {
    //                "url": "/NewReg/Home",
    //                "type": "GET",
    //                "datatype": "json"
    //            },
    //            "success":
    //                [$(function () {
    //                $.get("get_data", {}, function (data) {
    //                    var row;
    //                    $.each(data, function (i, v1) {
    //                        row += "<tr><td>" + v1.Uname + "</td><td>" + v1.Uemail + "</td><td>" + v1.Upwd + "</td><td>" + v1.Gender + "</td><td>" + v1.Uimg + "</td></tr>"
    //                    });
    //                    $("#employeeTable").append(row);

    //                })
    //            })
    //            ]
    //        });
    //});
  



</script>

}
